[submodule "nix/custom-packages"]
	path = nix/custom-packages
	url = git@codeberg.org:JudahZF/nix-packages.git
[submodule "raycast/yabai-workspaces"]
	path = raycast/yabai-workspaces
	url = ssh://git@codeberg.org/JudahZF/yabai-workspaces.git
[submodule "raycast/superlist"]
	path = raycast/superlist
	url = ssh://git@codeberg.org/JudahZF/superlist-raycast.git
